In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./DATASETS/forestfires/forestfires.csv')

In [3]:
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [4]:
df.shape

(517, 13)

In [5]:
df['area'].value_counts()

area
0.00      247
1.94        3
0.52        2
3.71        2
0.68        2
         ...
105.66      1
154.88      1
196.48      1
200.94      1
11.16       1
Name: count, Length: 251, dtype: int64

In [7]:
df['area'].describe()

count     517.000000
mean       12.847292
std        63.655818
min         0.000000
25%         0.000000
50%         0.520000
75%         6.570000
max      1090.840000
Name: area, dtype: float64

In [17]:
sorted_df = df.sort_values('area', ascending=False)
sorted_df.iloc[0:50]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain     area
238  6  5   sep  sat  92.5  121.1  674.4   8.6  25.1  27   4.0   0.0  1090.84
415  8  6   aug  thu  94.8  222.4  698.6  13.9  27.5  27   4.9   0.0   746.28
479  7  4   jul  mon  89.2  103.9  431.6   6.4  22.6  57   4.9   0.0   278.53
237  1  2   sep  tue  91.0  129.5  692.6   7.0  18.8  40   2.2   0.0   212.88
236  2  2   sep  sat  92.5  121.1  674.4   8.6  18.2  46   1.8   0.0   200.94
235  8  6   aug  sun  91.4  142.4  601.4  10.6  19.6  41   5.8   0.0   196.48
420  8  8   aug  wed  91.7  191.4  635.9   7.8  26.2  36   4.5   0.0   185.76
377  2  2   aug  sat  93.7  231.1  715.1   8.4  21.9  42   2.2   0.0   174.63
234  4  5   sep  sat  92.5  121.1  674.4   8.6  17.7  25   3.1   0.0   154.88
233  9  4   sep  tue  84.4   73.4  671.9   3.2  24.3  36   3.1   0.0   105.66
232  6  4   sep  tue  91.0  129.5  692.6   7.0  18.7  43   2.7   0.0   103.39
231  1  5   sep  sun  93.5  149.3  728.6   8.1  27.8  27   3.1   0.0    95.18
230  4  4   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0    88.49
293  7  6   jul  tue  93.1  180.4  430.8  11.0  26.9  28   5.4   0.0    86.45
457  1  4   aug  wed  91.7  191.4  635.9   7.8  19.9  50   4.0   0.0    82.75
229  8  6   aug  sat  92.2   81.8  480.8  11.9  16.4  43   4.0   0.0    71.30
392  1  3   sep  sun  91.0  276.3  825.1   7.1  21.9  43   4.0   0.0    70.76
473  9  4   jun  sat  90.5   61.1  252.6   9.4  24.5  50   3.1   0.0    70.32
228  4  6   sep  sun  93.5  149.3  728.6   8.1  28.3  26   3.1   0.0    64.10
469  6  3   apr  sun  91.0   14.6   25.6  12.3  13.7  33   9.4   0.0    61.13
227  8  6   aug  sat  92.2   81.8  480.8  11.9  20.1  34   4.5   0.0    58.30
337  6  3   sep  mon  91.6  108.4  764.0   6.2  23.0  34   2.2   0.0    56.04
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0    54.29
395  4  5   feb  sun  85.0    9.0   56.9   3.5  10.1  62   1.8   0.0    51.78
504  4  3   aug  wed  94.5  139.4  689.1  20.0  28.9  29   4.9   0.0    49.59
226  7  5   oct  mon  91.7   48.5  696.1  11.1  16.1  44   4.0   0.0    49.37
225  4  4   sep  sun  93.5  149.3  728.6   8.1  22.9  39   4.9   0.0    48.55
488  4  4   aug  tue  95.1  141.3  605.8  17.7  19.4  71   7.6   0.0    46.70
493  1  3   aug  fri  95.9  158.0  633.6  11.3  27.5  29   4.5   0.0    43.32
383  9  6   aug  thu  91.6  248.4  753.8   6.3  20.5  58   2.7   0.0    42.87
498  6  5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0    40.54
375  6  5   sep  sat  91.2   94.3  744.4   8.4  15.4  57   4.9   0.0    39.35
471  4  3   may  fri  89.6   25.4   73.7   5.7  18.0  40   4.0   0.0    38.48
224  7  4   sep  wed  90.1   82.9  735.7   6.2  15.4  57   4.5   0.0    37.71
223  2  2   jul  fri  88.3  150.3  309.9   6.8  13.4  79   3.6   0.0    37.02
222  4  3   mar  mon  87.6   52.2  103.8   5.0  11.0  46   5.8   0.0    36.85
221  3  4   sep  fri  93.3  141.2  713.9  13.9  18.6  49   3.6   0.0    35.88
320  6  3   sep  thu  92.8  119.0  783.5   7.5  18.9  34   7.2   0.0    34.36
220  8  6   aug  sun  90.2   99.6  631.2   6.3  16.2  59   3.1   0.0    32.07
219  6  5   mar  mon  90.1   39.7   86.6   6.2  15.2  27   3.1   0.0    31.86
218  4  5   sep  wed  92.9  133.3  699.6   9.2  19.4  19   1.3   0.0    31.72
217  1  3   sep  mon  88.6   91.8  709.9   7.1  12.4  73   6.3   0.0    30.32
391  8  6   sep  fri  91.1   91.3  738.1   7.2  20.7  46   2.7   0.0    30.18
216  4  4   sep  sun  92.4  124.1  680.7   8.5  16.9  60   1.3   0.0    29.48
388  6  4   aug  fri  94.8  227.0  706.7  12.0  23.3  34   3.1   0.0    28.74
214  4  4   mar  sat  91.7   35.8   80.8   7.8  17.0  27   4.9   0.0    28.66
215  4  4   mar  sat  91.7   35.8   80.8   7.8  17.0  27   4.9   0.0    28.66
346  1  4   sep  mon  91.5  130.1  807.1   7.5  21.3  35   2.2   0.0    28.19
213  7  3   mar  mon  87.6   52.2  103.8   5.0  11.0  46   5.8   0.0    27.35
484  2  5   aug  sun  94.9  130.3  587.1  14.1  33.1  25   4.0   0.0    26.43

# CREATING DATA SUBSETS FOR AMOUNT OF REGION AFFECTED

In [11]:
not_affected_subset = df[df['area'] == 0]

In [12]:
not_affected_subset

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...   ...
507  2  4   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.0
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.0
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0   0.0
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.0
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.0

[247 rows x 13 columns]

In [20]:
partially_affected_subset = df[(df['area'] > 0) & (df['area'] <= 100)]
partially_affected_subset

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
138  9  9   jul  tue  85.8   48.3  313.4   3.9  18.0  42   2.7   0.0   0.36
139  1  4   sep  tue  91.0  129.5  692.6   7.0  21.7  38   2.2   0.0   0.43
140  2  5   sep  mon  90.9  126.5  686.5   7.0  21.9  39   1.8   0.0   0.47
141  1  2   aug  wed  95.5   99.9  513.3  13.2  23.3  31   4.5   0.0   0.55
142  8  6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0   0.61
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
509  5  4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0   0.43
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16

[259 rows x 13 columns]

In [21]:
mostly_affected_subset = df[df['area'] > 100]
mostly_affected_subset

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain     area
232  6  4   sep  tue  91.0  129.5  692.6   7.0  18.7  43   2.7   0.0   103.39
233  9  4   sep  tue  84.4   73.4  671.9   3.2  24.3  36   3.1   0.0   105.66
234  4  5   sep  sat  92.5  121.1  674.4   8.6  17.7  25   3.1   0.0   154.88
235  8  6   aug  sun  91.4  142.4  601.4  10.6  19.6  41   5.8   0.0   196.48
236  2  2   sep  sat  92.5  121.1  674.4   8.6  18.2  46   1.8   0.0   200.94
237  1  2   sep  tue  91.0  129.5  692.6   7.0  18.8  40   2.2   0.0   212.88
238  6  5   sep  sat  92.5  121.1  674.4   8.6  25.1  27   4.0   0.0  1090.84
377  2  2   aug  sat  93.7  231.1  715.1   8.4  21.9  42   2.2   0.0   174.63
415  8  6   aug  thu  94.8  222.4  698.6  13.9  27.5  27   4.9   0.0   746.28
420  8  8   aug  wed  91.7  191.4  635.9   7.8  26.2  36   4.5   0.0   185.76
479  7  4   jul  mon  89.2  103.9  431.6   6.4  22.6  57   4.9   0.0   278.53

# MERGING TWO SUBSETS

In [25]:
merged_subset = pd.concat([not_affected_subset, mostly_affected_subset])
merged_subset

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain     area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0     0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0     0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0     0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2     0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0     0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...      ...
238  6  5   sep  sat  92.5  121.1  674.4   8.6  25.1  27   4.0   0.0  1090.84
377  2  2   aug  sat  93.7  231.1  715.1   8.4  21.9  42   2.2   0.0   174.63
415  8  6   aug  thu  94.8  222.4  698.6  13.9  27.5  27   4.9   0.0   746.28
420  8  8   aug  wed  91.7  191.4  635.9   7.8  26.2  36   4.5   0.0   185.76
479  7  4   jul  mon  89.2  103.9  431.6   6.4  22.6  57   4.9   0.0   278.53

[258 rows x 13 columns]

# SORTING DATA BASED ON TEMPERATURE

In [31]:
sort_temp = df.sort_values('temp')
sort_temp.iloc[20:30]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
196  6  5   apr  thu  81.5    9.1   55.2   2.7   5.8  54   5.8   0.0  10.93
75   9  9   feb  thu  84.2    6.8   26.6   7.7   6.7  79   3.1   0.0   0.00
390  7  4   feb  mon  84.7    9.5   58.3   4.1   7.5  71   6.3   0.0   9.96
284  5  4   feb  fri  85.2    4.9   15.8   6.3   7.5  46   8.0   0.0  24.24
7    8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.00
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
411  7  4   feb  fri  84.6    3.2   43.6   3.3   8.2  53   9.4   0.0   4.62
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
77   1  3   mar  mon  87.6   52.2  103.8   5.0   8.3  72   3.1   0.0   0.00
378  6  5   mar  thu  90.9   18.9   30.6   8.0   8.7  51   5.8   0.0   0.00

# SORTING DATA BASED ON WIND

In [32]:
sort_wind = df.sort_values('wind', ascending=False)
sort_wind.iloc[30:40]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
244  2  4   aug  sun  91.8  175.1  700.7  13.8  22.4  54   7.6   0.0   2.87
243  7  4   aug  sun  91.8  175.1  700.7  13.8  21.9  73   7.6   1.0   0.00
320  6  3   sep  thu  92.8  119.0  783.5   7.5  18.9  34   7.2   0.0  34.36
10   7  5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0   0.00
206  2  2   aug  sat  93.5  139.4  594.2  20.3  22.9  31   7.2   0.0  15.45
380  5  4   jul  wed  93.7  101.3  458.8  11.9  19.3  39   7.2   0.0   7.73
148  2  2   aug  tue  94.8  108.3  647.1  17.0  17.4  43   6.7   0.0   1.07
41   4  4   aug  sat  90.2   96.9  624.2   8.9  18.4  42   6.7   0.0   0.00
79   1  2   aug  tue  91.0  121.2  561.6   7.0  21.6  19   6.7   0.0   0.00
432  8  6   aug  thu  94.8  222.4  698.6  13.9  23.9  38   6.7   0.0   0.00

# SORTING DATA BASED ON AREA

In [35]:
sort_area = df.sort_values('area', ascending=False)
sort_area.iloc[0:10]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain     area
238  6  5   sep  sat  92.5  121.1  674.4   8.6  25.1  27   4.0   0.0  1090.84
415  8  6   aug  thu  94.8  222.4  698.6  13.9  27.5  27   4.9   0.0   746.28
479  7  4   jul  mon  89.2  103.9  431.6   6.4  22.6  57   4.9   0.0   278.53
237  1  2   sep  tue  91.0  129.5  692.6   7.0  18.8  40   2.2   0.0   212.88
236  2  2   sep  sat  92.5  121.1  674.4   8.6  18.2  46   1.8   0.0   200.94
235  8  6   aug  sun  91.4  142.4  601.4  10.6  19.6  41   5.8   0.0   196.48
420  8  8   aug  wed  91.7  191.4  635.9   7.8  26.2  36   4.5   0.0   185.76
377  2  2   aug  sat  93.7  231.1  715.1   8.4  21.9  42   2.2   0.0   174.63
234  4  5   sep  sat  92.5  121.1  674.4   8.6  17.7  25   3.1   0.0   154.88
233  9  4   sep  tue  84.4   73.4  671.9   3.2  24.3  36   3.1   0.0   105.66

# TRANSPOSING DATA

In [37]:
transposed_data = df.transpose()
transposed_data.head()

,0,1,2,3,4,5,6,7,8,9,...,507,508,509,510,511,512,513,514,515,516
X,7,7,7,8,8,8,8,8,8,7,...,2,1,5,6,8,4,2,7,1,6
Y,5,4,4,6,6,6,6,6,6,5,...,4,2,4,5,6,3,4,4,4,3
month,mar,oct,oct,mar,mar,aug,aug,aug,sep,sep,...,aug,aug,aug,aug,aug,aug,aug,aug,aug,nov
day,fri,tue,sat,fri,sun,sun,mon,mon,tue,sat,...,fri,fri,fri,fri,sun,sun,sun,sun,sat,tue
FFMC,86.2,90.6,90.6,91.7,89.3,92.3,92.3,91.5,91.0,92.5,...,91.0,91.0,91.0,91.0,81.6,81.6,81.6,81.6,94.4,79.5

# MELTING DATA TO LONG FORMAT

In [38]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [45]:
melted_data = pd.melt(mostly_affected_subset, id_vars=['month', 'temp'], var_name='attribute' , value_name='area affected', value_vars='area')
melted_data

   month  temp attribute  area affected
0    sep  18.7      area         103.39
1    sep  24.3      area         105.66
2    sep  17.7      area         154.88
3    aug  19.6      area         196.48
4    sep  18.2      area         200.94
5    sep  18.8      area         212.88
6    sep  25.1      area        1090.84
7    aug  21.9      area         174.63
8    aug  27.5      area         746.28
9    aug  26.2      area         185.76
10   jul  22.6      area         278.53

# CASTING DATA TO WIDE FORMAT

In [50]:
casted_data = melted_data.pivot_table(index=['month', 'temp'], columns='attribute', values='area affected')
casted_data

attribute      area
month temp
aug   19.6   196.48
      21.9   174.63
      26.2   185.76
      27.5   746.28
jul   22.6   278.53
sep   17.7   154.88
      18.2   200.94
      18.7   103.39
      18.8   212.88
      24.3   105.66
      25.1  1090.84